.profile-container{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    background-color: hsl(216, 20%, 97%);
}
.main-profile-container{
    height: 700px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 60px;
    font-size: 15px;


}
.right-profile{
   display: flex;
   gap: 20px;
   flex-direction: column;
   align-items: center;
}
#btn-border{
    margin-bottom: 40px;
}
.main-profile-container-2{
   
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
display: flex;
background-color: #fff;
align-items: center;
justify-content: space-around;
border-radius: 10px;
height: 600px;
width: 1000px;
}
.proifle-img{
    border-radius: 50%; /* Makes it a circle */
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border-width: 4px;
    border-color: #CBD5E0; /* Use the appropriate shade of gray as needed */
    border-style: solid; /* You may want to specify the border style, e.g., solid */

    
}
.left-profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.in-btn input{
    padding: 10px 10px;
}
.right-profile .btn-3{
    display: flex;
    padding: 10px 15px;
    background-color: #24243e;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-left: 43px;
    
}
.btn-4{
    padding: 10px 15px;
    background-color: #24243e;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.profile-container button:hover{
    background-color: #3f3d92;
    cursor: pointer;
}
.main-profile-container input{
    padding: 10px 20px;
  background-color: #fff;
  background-color: hsl(216, 20%, 97%);
    border-radius: 8px;
    outline: none;

}
.main-profile-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.profile-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(29, 36, 77);
    gap: 25px;
}
.password-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.main-formpass{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.label{
  display: flex;
  align-items: center;
  gap: 10px;
}
.pf-h1{
    font-size: 18px;
    font-weight: 700;
    color: #24243e;
}

/* Responsivness Section */

@media(max-width:1115px){
    .main-profile-container-2{
        width: 800px;
    }

}
@media(max-width:899px){
    .main-profile-container-2{
        margin-top: 300px;
        width: 700px;
        height: 900px;
        align-items: center;
        margin-right: 40px;
        flex-direction: column;
        gap: 30px;
    }
    .main-profile-container-2 input{
        padding: 10px 15px;
    }

}
@media (max-width:450px){
    .main-profile-container-2{
        margin-right: 55px;
    }
    .right-profile .btn-3{
        padding: 10px 15px ;
    }
    .left-profile .btn-4{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .in-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}